<div class="container">
  <mat-card>
    <mat-card-header class="mat-elevation-z0">
      <mat-card-subtitle
        >Les renseignements nécessaires au calcul de vos
        aides</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formUser" (submit)="submit()">
        <mat-radio-group formControlName="civil_status">
          <mat-label>Vous êtes: </mat-label>
          <mat-radio-button value="mr"> Monsieur </mat-radio-button>
          <mat-radio-button value="mrs">Madame</mat-radio-button>
          @if (formUser.get('civil_status')?.invalid && formUser.touched ) {
          <mat-error>{{ getErrorMessage("civil_status") }}</mat-error
          >}
        </mat-radio-group>

        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput type="text" formControlName="first_name" />
          @if (formUser.get('first_name')?.invalid) {
          <mat-error>{{ getErrorMessage("first_name") }}</mat-error
          >}
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput type="text" formControlName="last_name" />
          @if (formUser.get('last_name')?.invalid) {
          <mat-error>{{ getErrorMessage("last_name") }}</mat-error
          >}
        </mat-form-field>
        <mat-form-field>
          <mat-label>Téléphone</mat-label>
          <input matInput type="" formControlName="phone_number" />
          @if (formUser.get('phone_number')?.invalid) {
          <mat-error>{{ getErrorMessage("phone_number") }}</mat-error
          >}
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email_address" />
          @if (formUser.get('email_address')?.invalid) {
          <mat-error>{{ getErrorMessage("email_address") }}</mat-error
          >}
        </mat-form-field>
        <button
          mat-raised-button
          matStepperNext
          [disabled]="formUser.invalid"
          class="btn-primary"
        >
          CONTINUER
        </button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
